:root {
    --bk: black;
}
@keyframes slideshow {
    0% {
        top: 0;
    }
    19% {
        top: 0;
    }
    20% {
        top: -100%;
    }
    39% {
        top: -100%;
    }
    40%{
        top: -200%;
    }
    59% {
        top: -200%;
    }
    60% {
        top: -300%;
    }
    79% {
        top: -300%;
    }
    80% {
        top: -400%;
    }
    99% {
        top: -400%;
    }
    100% {
        top: -400%;
    }
}