:root {
    --bk: rgb(255, 255, 255);
}
@keyframes slideshow {
    0% {
        top: 0;
    }
    6% {
        top: 5%;
    }
    9% {
        top: 0;

    }
    10% {
        top: -100%;
    }
    15% {
        top: -96%;
    }
    19% {
        top: -100%;
    }
    20%{
        top: -200%;
    }
    25% {
        top: -196%;
    }
    29% {
        top: -200%;
    }
    30% {
        top: -300%;
    }
    35% {
        top: -296%;
    }
    39% {
        top: -300%;
    }
    40% {
        top: -400%;
    }
    45% {
        top: -396%;
    }
    49% {
        top: -400%;
    }
    50% {
        top: -500%;
    }
    55% {
        top: -496%;
    }
    59% {
        top: -500%;
    }
    60% {
        top: -600%;
    }
    65% {
        top: -596%;
    }
    69% {
        top: -600%;
    }
    70% {
        top: -700%;
    }
    75% {
        top: -696%;
    }
    79% {
        top: -700%;
    }
    80% {
        top: -800%;
    }
    85% {
        top: -796%;
    }
    89% {
        top: -800%;
    }
    90% {
        top: -900%;
    }
    95% {
        top: -896%;
    }
    100% {
        top: -900%;
    }
}